exclude .gitignore
exclude MANIFEST.in
exclude tox.ini

recursive-exclude .github *
recursive-exclude tests *

recursive-include src *.css
recursive-include src *.js
recursive-include src *.php
recursive-include src *.tmpl
